#header-title {
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

@media only screen and (max-device-width: 650px) {
    header {
        font-size: 500%;
        background-image: linear-gradient(rgb(182, 108, 243), white);
    }

    .header-image {
        width: 100px;
    }

    #header-title {
        margin-bottom: 0;

    }

    .header-break-line {
        margin: auto;
        width: 100%;
        padding-bottom: 30px;
    }

    .home-gallery-wrapper {
        /* SPACE EVENLY WITH STRETCHED OUT PHOTOS */
        /* min-height: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse; */

        /* PHOTOS ALL OVER THE PLACE BUT NOT TOP INLINE */
        /* display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-direction: column;
	height: 100vw;
	font-size: 0; 
    justify-content: center; */

    /* TRYING GRID  */

    display: flex;
    /* justify-content: center; */
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  height: 100vw;
    }

    .home-gallery-image {
        /* vertical-align: top; */
        /* border-radius: 5%;
        width: 250px; 
        padding: 10px;
        flex-basis: calc(50% - 40px);   */


        display: flex;
        width: 30%;
        margin: 10px;
        border-radius: 10px;
    }

    .social-media-icons-wrapper {
        display: flex;
        justify-content: center;
        background-image: linear-gradient(white, rgb(182, 108, 243)) ;
    }
    
    .social-media-icons {
        padding-top: 100px;
        padding-bottom: 60px;
        padding-left: 30px;
        padding-right: 30px;
        /* margin-bottom: 100px; */
        margin: 0;

        width: 120px;
    }

    .footer-text {
        margin: 0;
        padding-top: 20px;
        text-align: center;
        font-size: 12px;
        background-color: rgb(182, 108, 243);
    }
}
